{{define "header"}}
    {{partial "header.html" .}}
{{end}}

{{define "main"}}

{{ $paginator := .Paginator }}
{{ if  .Site.Params.featured }}
{{ if eq $paginator.PageNumber 1 }}
<div class="featured-posts">
    {{ $pages := .Site.RegularPages }}
    {{range (where (first 3 $pages) ".Params.unlisted" "!=" "true") }}
        {{ partial "featured" . }}
    {{end}}
</div>
{{end}}
<div class="post-list">
    {{if eq $paginator.PageNumber 1}}
        {{ range (where (after 3 $paginator.Pages) ".Params.unlisted" "!=" "true") }}
            {{ .Render "li" }}
        {{ end }}
    {{else}}
        {{ range (where $paginator.Pages ".Params.unlisted" "!=" "true") }}
            {{ .Render "li" }}
        {{ end }}
    {{end}}

</div>
{{ partial "pagination" . }}

{{else}}
<div class="post-list">
    {{ range (where $paginator.Pages ".Params.unlisted" "!=" "true") }}
        {{ .Render "li" }}
    {{ end }}
</div>
{{ partial "pagination" . }}
{{end}}
{{end}}
{{define "footer"}}
    {{partial "footer" .}}
{{end}}
